* {
    background-color: white;
}

.content {
    min-height: 80%;
    width: 90%;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content>* {
    margin: 20px 0;
    color: #353231;

}

.skills-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-container div {
    width: 62px;
    height: 82px;
    padding: 30px;
    border-radius: 100px;


}

.skills-container div img {
    width: 220%;
    height: 220%;
    object-fit: contain;
    border-radius: 18px;

}

.title {
    text-align: center;

}

h3 {
    color: black;
    font-size: 20px;
    font-weight: normal;
}